* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../9c34cecf0d331e57fe62bd03b990335e.png');
    background-size: cover;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: black;
    width: 80vw;
    height: 90vh;
    display: flex;
    border-radius: 15px 15px 15px 15px;
    outline: solid 1px #ccc;
}

.form-display {
    background-color: white;
    width: 65vw;
    height: 90vh;
    border-radius: 15px 0px 0px 15px;
}

.data-sidebar {
    background-color: black;
    width: 15vw;
    height: 90vh;
    border-radius: 15px 15px 15px 15px;
}